{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="./static/css/style.css">
{% endblock %}

{% block title %}
<h1><a href="index.html">Devman Encyclopedy</a></h1>
{% endblock %}

{% block content %}
  {% for topic, articles in topics.items() %}
  <div class="col-xs-12 col-md-3">
    <h2>
      {{ topic | e }}
    </h2>
    <ul>
    {% for article in articles %}
      <li><a href="{{ article['path'] | urlencode }}">{{ article['title'] | e }}</a></li>
    {% endfor %}
  </ul>
  </div>
  {% endfor %}
{% endblock %}
